*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: bisque;
    margin-left: 400px;
}
.main{
    background-color: rgb(17, 16, 16);
    height: 100vh;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6,1fr);
    border: 2px solid rgb(228, 27, 27);
    font-size: 30px;
    gap: 2px;
    
}.main div:hover{
    background-color: #555;
    transform: scale(0.89);
}


.box1{
    
    grid-column: 1/5;
    background-color: black;
    
}
.box2{
    grid-column: 1/3;
    background-color: red;
}

.box3{
    grid-column: 3/4;
    background-color: gray;

}
.box4{
    grid-column: 4/5;
    background-color: gray;

}
.box5{
    grid-column: 1/2;
    background-color: gray;

}
.box6{
    grid-column: 2/3;
    background-color: gray;

}
.box7{
    grid-column: 3/4;
    background-color: gray;

}
.box8{
    grid-column: 4/5;
    background-color: gray;

}
.box9{
    grid-column: 1/2;
    background-color: gray;

}
.box10{
    grid-column: 2/3;
    background-color: gray;

}
.box11{
    grid-column: 3/4;
    background-color: gray;

}
.box12{
    grid-column: 4/5;
    background-color: gray;

}
.box13{
    grid-column: 1/2;
    background-color: gray;

}
.box14{
    grid-column: 2/3;
    background-color: gray;

}
.box15{
    grid-column: 3/4;
    background-color: gray;

}

.box16{
    grid-column: 4/5;
    grid-row: 5/7;
    background-color: rgb(4, 2, 100);

}
.box17{
    grid-column: 1/3;
    background-color: gray;

}
.box18{
    grid-column: 3/4;
    background-color: gray;

}
