*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.box{
    background-color: gainsboro;
    height: 100vh;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    font-size: 20px;
    gap: 3px;
    border: 3px solid pink;
}
.box0{
    border: 2px solid black;
}

.box1{
    background-color: rgb(131, 130, 128);
    grid-column: 1/4;
    grid-row: 1/3;
}
.box6{
    background-color: gray;
    grid-column:2/5 ;
    grid-row: 3/5;
}

.box7{
    background-color: rgb(131, 130, 128);
    grid-column: 1/4;
    grid-row: 5/7;
}

.main2{
    height: 100vh;
    width: 30%;
    gap: 10px;
    position: relative;
    left: 700px;
    bottom:950px;
    background-color: gainsboro;
    display: grid;
        border: 3px solid pink;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(6, 1fr);

}
.das{
    border: 1px solid black;
    /* padding: 10px; */

    gap: 10px;
}

.bo1{
    background-color: gray;
    grid-column: 1/3;
    grid-row: 1/3;
}
.bo10{
    background-color: gray;
    grid-column: 3/5;

    grid-row: 3/5;
}
.bo11{
    background-color: gray;
    grid-column: 1/3;
    grid-row: 5/7;
}