*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.con{
    border: 2px solid rgb(218, 84, 23);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7,1fr);
    height: 110vh;
    width: 50%;

}
.box{
    border: 2px solid rgb(16, 18, 122);

}
#box-1{
    background-color: aqua;
    grid-row: 1/3;
}
#box-2{
    background-color: aqua;
    grid-column: 2/4;
}
#box-1{
    background-color: aqua;
    grid-row: 1/3;
}
#box-1{
    background-color: aqua;
    grid-row: 1/3;
}
#box-5{
    background-color: aqua;
    grid-column: 3/5;
}
#box-1{
    background-color: aqua;
    grid-row: 1/3;
}
#box-7{
    background-color: aqua;
    grid-column: 2/4;
}
#box-8{
    background-color: aqua;
    grid-column: 1/3;
}
#box-8{
    background-color: aqua;
  
}
#box-10{
    background-color: aqua;
    grid-column: 4/5;
    grid-row: 3/5;
}
#box-11{
    background-color: aqua;
    grid-column: 1/2;
    grid-row: 5/7;
}
#box-12{
    background-color: aqua;
    grid-column: 2/4;
}
#box-15{
    background-color: aqua;
    grid-column:3/5 ;
}
#box-17{
    background-color: aqua;
    grid-column:2/4;
}
#box-18{
    background-color: aqua;
    grid-column: 1/3;
     
}
#box-20{
    background-color: aqua;
    grid-column: 4/5;
    grid-row:7/9 ;
}